<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">
              Email is required.*
            </small>
            <small class="text-danger" *ngIf="email.errors.email">
              Please enter email.*
            </small>
          </div>
          <input formControlName="email" class="form-control form-control"
                 placeholder="User email"
                 type="text">
        </div>
        <div class="form-group">
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <small class="text-danger" *ngIf="password.errors.required">
              Password is required.
            </small>
          </div>
          <input formControlName="password" class="form-control form-control"
                 placeholder="Password"
                 type="password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
